@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.5s ease-in-out;
  -webkit-transition: all 700ms ease-in;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0px 10px;
  bottom: 20px;
  border-radius: 20px;
  position: absolute;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.8); /* White background with 80% opacity */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Smooth transition for opacity and transform */
  transform: translateY(20px);
}
.panel h3{
  font-size: 24px;
  color: black;
  padding: 10px;
  margin: 0;
}
.panel p{
  font-size: 16px;
  color: black;
  padding: 10px;
}
.panel.active {
    flex: 2;
}


.panel.active .content {
  opacity: 1;
  transform: translateY(0); /* Reset transform for smooth appearance */
}

.face{
    background-position-x: -35px;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
