*{
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-image: url('bg.jpg');
    background-position: center;
    background-size: cover;
}
.box{
    width: 160px;
    height: 160px;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: black;
    margin: 10px;
    border-style: solid;
}

.pic {
    background-size: cover;
    background-position: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
}
.mal{
    background-image: url('./mal.jpg');
}
.ziggs{
    background-image: url('./zigg.png');
}
.brand{
    background-image: url('./brand.webp');
}
.ahri{
    background-image: url('./Arcade_Ahri_profileicon.png');
}
.corki{
    background-image: url('./Arcade_Corki_profileicon.png');
}
.ezreal{
    background-image: url('./Arcade_Ezreal_profileicon.png');
}
.hovered {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: white;
    border-style: dashed;
  }
  
  @media (max-width: 800px) {
    body {
      flex-direction: column;
    }
  }